* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-size: 3.2rem;
}

button {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.main-container {
  max-width: 30rem;
  height: 45rem;
  border: solid;
  margin: 5rem auto;
}

.container {
  /* max-width: 30rem; */
  height: 60%;
}
.container-2 {
  padding: 2rem;
}
.container-3 {
  width: 100%;

  /* max-width: 30rem; */
  margin: 0rem auto 1.5rem auto;
}
