* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

button {
  font-family: 'Inter', sans-serif;
}

footer {
  font-family: 'Inter', sans-serif;
  margin-bottom: 1rem;
}

.main-container {
  max-width: 35rem;
  height: 54rem;
  border: solid;
  margin: 5rem auto;
}

.container {
  /* max-width: 30rem; */
  height: 60%;
}
.container-2 {
  padding: 2rem;
}
.container-3 {
  width: 100%;

  /* max-width: 30rem; */
  margin: 0rem auto 1.5rem auto;
  padding: 1rem;
}
